/* Background Section */
.bg-index {
  background: navy url("/static/img/BuzzInChairs.jpg") no-repeat fixed;
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  height: 400px; /* Adjust height as needed */
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  color: white; /* Ensure text is visible */
}

/* Main Content Margin */
.container.mt-4 {
  margin-top: 20px; /* Adjust as needed */
}

/* Footer Styles */
.ms-footer {
  background-color: #B3A369;
}
.ms-footer p {
  color: #262626;
  font-size: 14px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom {
  background-color: #020101;
}
.ms-footer-bottom span {
  font-size: 20px;
  line-height: 300px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}

.blue-background {
  background-color: #001127;
}