/* Background Section */
.bg-index {
  background: navy url("/static/img/BuzzInChairs.jpg") no-repeat fixed;
  background-size: cover; 
  background-position: center; 
  height: 400px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white; 
}


.container.mt-4 {
  margin-top: 20px; 
}


.ms-footer {
  background-color: #B3A369;
}
.ms-footer p {
  color: #262626;
  font-size: 14px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom {
  background-color: #020101;
}
.ms-footer-bottom span {
  font-size: 20px;
  line-height: 300px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
